appdirs==1.4.4
attrs==24.3.0
cattrs==24.1.2
certifi==2024.12.14
charset-normalizer==3.4.0
click==8.1.7
contourpy==1.1.1
cycler==0.12.1
exceptiongroup==1.2.2
fonttools==4.55.3
geojson-rewind==1.1.0
geomet==1.1.0
idna==3.10
importlib_resources==6.4.5
kiwisolver==1.4.7
matplotlib==3.7.5
numpy==1.24.4
packaging==24.2
pillow==10.4.0
platformdirs==4.3.6
psycopg-binary==3.2.3
pygbif==0.6.5
pyparsing==3.1.4
python-dateutil==2.9.0.post0
requests==2.32.3
requests-cache==1.2.1
six==1.17.0
typing_extensions==4.12.2
url-normalize==1.4.3
urllib3==2.2.3
zipp==3.20.2
